/* ################### Start Global ################### */

@font-face {
    font-family: 'coconFont';
    src: url('../fonts/cocon-next-arabic.ttf');
}

* {
    font-family: 'coconFont';
}
/* ################### End Global ################### */
/* ============== Start go_up icon =============== */
.go_up {
    position: fixed;
    right: 40px;
    top: 90%;
    padding: 15px 10px;
    background: #fff;
    border: 2px solid #07b2e6;
    box-shadow: 0 0 10px #07b2e6;
    color: #07b2e6;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 55 !important;
}
/* ============== End go_up icon =============== */ 
/* ============== Start titleHeader =============== */
.titleHeader {
    padding: 60px 0;
    background-image: url('../images/titleHeader.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.titleHeader h2 {
    color: #fff;
}
/* ============== end titleHeader =============== */

/* ----- Start CategoriesAndSorting_Sec ----- */
.CategoriesAndSorting_Sec {
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    padding: 30px 20px 5px;
}

.CategoriesAndSorting_Sec .categoriesSorting {
    padding: 10px 0;
    border-bottom: 1px solid #b4b4b4;
}

.CategoriesAndSorting_Sec .sortingType {
    padding: 0;
}

.CategoriesAndSorting_Sec .categoriesSorting .categoriesSortingTitle,
.CategoriesAndSorting_Sec .sortingType .sortingTypeTitle {
    padding: 10px 0 10px;
}

.CategoriesAndSorting_Sec .categoriesSorting h2 {

    font-size: 23px;
}

.CategoriesAndSorting_Sec .checkboxCateSec label,
.CategoriesAndSorting_Sec .checkboxSortSec label {
    cursor: pointer;    
    color: #b4b4b4;
    font-size: 18px;
}


  

.CategoriesAndSorting_Sec .checkboxCateSec label:hover,
.CategoriesAndSorting_Sec .checkboxSortSec label:hover {
    color: #04bdf5;
} 

.CategoriesAndSorting_Sec .sortingType h2 {

    font-size: 23px;
}
.search{
    padding: 5px;
    border-radius: 5px;
}
.CategoriesAndSorting_Sec .hidingSorting {
    display: none;
}

.CategoriesAndSorting_Sec .showMore {
    padding-top: 15px;
}

.CategoriesAndSorting_Sec .showMore a {
    text-decoration: none;
    font-size: 17px;
}

.CategoriesAndSorting_Sec .showMore a span {
    color: #707070;
}

.CategoriesAndSorting_Sec .showMore a i {
    color: #07b2e6;
    transition: 0.3s ease-in-out;
}

.CategoriesAndSorting_Sec .showMore a:hover i {
    transform: translateY(5px);
}
/* ######### End merchantData_Sorting ######### */


.count-item h3{
    color: #04bdf5;
}
.p-image{
    height: 250px;
    width: 200px;
}
  
.filter-item{
    border-right: 1px solid #000;
}

.sec-title{
    margin: 20px;
    font-size: 20px;
}

.sec-title span{
    color:#07b2e6
}


