/* ################### Start Global ################### */
* {
    direction: rtl; 
} 

.NavbarTop .contactInfo {
    left: 0;
}

.NavbarTop .contactInfo .email {
    border-right: 2px solid #fff;
    padding-right: 10px;
}

.NavbarTop .contactInfo .phone {
    padding-left: 10px;
}

.navLarge .langLink .langIconLinkAfterLogin li.dropdown .dropdown-menu {
    left: 0;
}
/* ################### End Global ################### */

/* ################ Medium devices (tablets, less than 992px) ################ */
@media (max-width: 991.98px) {
    /* ============== Start NavbarMobile =============== */
    .NavbarMobile .navMenuMobile {
        right: 0;
    }

    .NavbarMobile .navMenuMobile .closebtn {
        right: 100%;
    }

    .NavbarMobile .langLink .langIconLinkAfterLogin li.dropdown .dropdown-menu {
        right: -150% !important;
    }
    /* ============== End NavbarMobile =============== */
}