/* ################### Start Global ################### */
/* body {
    overflow-X: hidden;
}  */

@font-face {
    font-family: 'coconFont';
    src: url('../fonts/cocon-next-arabic.ttf');
}

* {
    font-family: 'coconFont';
}

/* ============== Start NavbarTop =============== */
.NavbarTop {
    background: #12758b;
    padding: 10px 0;
}

.NavbarTop ul {
    margin: 0;
}

.NavbarTop ul a {
    font-size: 15px;
    text-decoration: none;
}

.NavbarTop ul a i {
    color: #fff !important;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    border-radius: 5px;
}

.NavbarTop ul a i.fa-facebook-f {
    background: #3b5999;
}

.NavbarTop ul a i.fa-twitter {
    background: #55acee;
}

.NavbarTop ul a i.fa-instagram {
    background: #e4405f;
}

.NavbarTop ul a i.fa-linkedin-in {
    background: #0077B5;
}

.NavbarTop .contactInfo {
    padding: 0 20px;
    position: absolute;
}

.NavbarTop .contactInfo .phone a,
.NavbarTop .contactInfo .email a {
    color: #fff;
    text-decoration: none;
}

.NavbarTop .contactInfo .phone a i,
.NavbarTop .contactInfo .email a i {
    padding: 0 4px;

}
/* ============== End NavbarTop =============== */
/* ============== Start NavbarMobile =============== */
.NavbarMobile {
    display: none;
}
/* ============== End NavbarMobile =============== */
/* ============== Start navLarge =============== */
.navLarge {
    background: #fff;
    padding: 0 !important;
    transition: 0.3s ease-in-out;
}

.navLarge .navbar-brand {
    height: 70px;
    width: 225px;
    padding: 0 20px;
    transition: 0.3s ease-in-out;
}

.navLarge .navbar-brand img {
    height: 100%;
    width: 150px;
    transition: 0.3s ease-in-out;
}

.navLarge ul {
    padding: 0 !important;
}

.navLarge ul li a {
    color: #929292; 
    font-size: 16px;
    padding: 40px 10px !important;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
}

.navLarge ul li a:hover {
    color: #07b2e6;
}

.navLarge ul li a.active {
    color: #07b2e6;
}

.navLarge ul li a.active::before {
    top: 0%;
    height: 4px;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.navLarge ul li a:hover::before {
    top: 0%;
    height: 4px;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.navLarge ul li a::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 100%;
    top: 5%;
    opacity: 0;
    left: 0;
    background: #07b2e6;
    transition: 0.3s ease-in-out;
}

.navLarge .langLink a::before{
    display: none;
}

.navLarge .langLink .langIconLink {
    padding: 35px 20px !important;
    transition: 0.3s ease-in-out;
}

.navLarge .langLink .langIconLink i {
    color: #A4C2F7;
    background: #E3E7F2;
    height: 30px;
    width: 30px;
    border: 2px solid #A4C2F7;
    border-radius: 50%;
}

.navLarge .langLink .langAbbrLink {
    color: #111;
    font-size: 20px;
    padding: 30px 20px 0 !important;
    transition: 0.3s ease-in-out;
}

.navLargeTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    transition: 0.3s ease-in-out;
}

.navLargeTop .navbar-brand {
    height: 55px;
}

.navLargeTop .navbar-brand img {
    width: 120px;
}

.navLargeTop ul li a {
    padding: 20px !important;
}

.navLargeTop ul li a:hover::before {
    height: 3px;
}

.navLargeTop .langLink .langIconLink {
    padding: 15px 20px !important;
}

.navLargeTop .langLink .langAbbrLink {
    padding: 15px 20px 0 !important;
}
/* ============== End navLarge =============== */

/* ============== Start footer =============== */

footer {
    background: #142941;
    padding: 40px 20px;
}

footer .aboutUsData .footerLogo {
    padding-bottom: 8px;
}

footer .aboutUsData .footerLogo img {
    width: 100px;
    height: 45px;
}

footer .aboutUsData p {
    border-top: 1px dashed #f9f9f9;
    border-bottom: 1px dashed #f9f9f9;
    line-height: 23px;
    padding: 8px 0;
    margin: 0;
}

footer .aboutUsData p,
footer .websiteMap p {
    color: #f9f9f9;
    font-size: 1.25rem;
} 

footer .websiteMap h2,
footer .contactWithUs h2 {
    color: #b6b6b6; 
    font-size: 1rem;
}

footer .websiteMap .websiteMapLinks li {
    list-style: none;
    padding: 4px 0;
}

footer .websiteMap .websiteMapLinks a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1.25rem;
    position: relative !important;
}

footer .websiteMap .websiteMapLinks a:hover::after {
    top: 100%;
    height: 3px;
}

footer .websiteMap .websiteMapLinks a::after {
    position: absolute;
    content: '';
    height: 0px;
    width: 100%;
    background: #55acee;
    top: 110%;
    left: 0;
    transition: 0.3s ease-in-out;
}

footer .contactWithUs .contactMatrial {
    border-bottom: 1px dashed #f9f9f9;
    padding-bottom: 8px;
    font-size: 1.25rem;
}

footer .contactWithUs .contactMatrial a {
    font-weight: bolder;
    color: #f9f9f9;
    text-decoration: none;
}

footer .contactWithUs .contactMatrial a i {
    color: #29c3ef;
    font-size: 17px;
    padding: 0 10px;
}

footer .contactSocial {
    padding: 20px 0;
}

footer .contactSocial ul {
    padding: 0;
    margin: 0;
}

footer .contactSocial ul a {
    text-decoration: none;
}

footer .contactSocial ul a i {
    color: #fff !important;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    border-radius: 5px;
}

footer .contactSocial ul a i.fa-facebook-f {
    background: #3b5999;
}

footer .contactSocial ul a i.fa-twitter {
    background: #55acee;
}

footer .contactSocial ul a i.fa-instagram {
    background: #e4405f;
}

footer .contactSocial ul a i.fa-linkedin-in {
    background: #0077B5;
}
/* ============== End footer =============== */
/* ################### End Global ################### */

/* ============== Start go_up icon =============== */
.go_up {
    position: fixed;
    right: 40px;
    top: 90%;
    padding: 15px 10px;
    background: #fff;
    border: 2px solid #07b2e6;
    box-shadow: 0 0 10px #07b2e6;
    color: #07b2e6;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 55 !important;
}
/* ============== End go_up icon =============== */ 

/* ============== Start main =============== */
main {
    background: #f1eeee;
    padding: 40px 0 20px;
}

/* ######### Start profileData ######### */
/* $$$$$$$ Start totalProfileData $$$$$$$ */
main .profileData {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

main .profileData .totalProfileData {
    margin: 0;
}

main .profileData .totalProfileData .profileImg {
    padding: 0;
    height: 254px;
}

main .profileData .totalProfileData .profileImg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .profileData .totalProfileData .profileInfo .profileName {
    font-size: 23px;
    color: #07b2e6;
    font-weight: 600;
}

main .profileData .totalProfileData .profileInfo .profileSpecialty {
/* main .profileData .totalProfileData .profileInfo .profileExperience { */
    font-size: 22px;
    color: #707070;
}

main .profileData .totalProfileData .profileInfo .profileSocialMedia {
    padding: 0 0 10px;
    margin-bottom: 0;
    /* width: 65%; */
}

main .profileData .totalProfileData .profileInfo .profileSocialMedia i {
    color: #07b2e6;
    font-size: 22px;
    cursor: pointer;
    padding: 0 5px;
}

main .profileData .totalProfileData .profileInfo .profileSocialMedia i:nth-child(1) {
    padding-right: 0;
}

main .profileData .totalProfileData .profileInfo .profileSocialMedia .fa-whatsapp:hover {
    color: #25D366;
}
main .profileData .totalProfileData .profileInfo .profileSocialMedia .fa-facebook:hover {
    color: #3b5998;
}
main .profileData .totalProfileData .profileInfo .profileSocialMedia .fa-telegram:hover {
    color: #0088cc;
}
main .profileData .totalProfileData .profileInfo .profileSocialMedia .fa-instagram:hover {
    color: #e4405f;
}
main .profileData .totalProfileData .profileInfo .profileSocialMedia .fa-twitter:hover {
    color: #55acee;
}
main .profileData .totalProfileData .profileInfo .profileSocialMedia .fa-youtube:hover {
    color: #bb0000;
}

main .profileData .totalProfileData .profileInfo .profileReveal,
main .profileData .totalProfileData .profileInfo .profileConsultation,
main .profileData .totalProfileData .profileInfo .profileShare {
    color: #07b2e6;
    font-size: 22px;
}

main .profileData .totalProfileData .profileInfo .profileReveal span,
main .profileData .totalProfileData .profileInfo .profileConsultation span,
main .profileData .totalProfileData .profileInfo .profileShare i {
    color: #707070;
}

main .profileData .totalProfileData .profileInfo .profileShare i:hover {
    color: #07b2e6;
}

main .profileData .totalProfileData .profileOptions {
    padding: 0;
}

main .profileData .totalProfileData .profileOptions ul {
    width: 60%;
    padding: 0;
}

main .profileData .totalProfileData .profileOptions ul i {
    color: #eed600;
    font-size: 17px;
}

main .profileData .totalProfileData .profileOptions .evaluation {
    padding: 10px 0;
}

main .profileData .totalProfileData .profileOptions .evaluation p {
    margin: 0;
    font-size: 18px;
    color: #707070;
}

main .profileData .totalProfileData .profileOptions .evaluation p:first-child {
    margin-bottom: -5px;
}

main .profileData .totalProfileData .contactMe {
    background: #07b2e6;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

main .profileData .totalProfileData .contactMe:hover {
    padding: 10px 30px;
    box-shadow: 0 0 10px #07b2e6;
}
/* $$$$$$$ End totalProfileData $$$$$$$ */

/* $$$$$$$ Start profileBranches $$$$$$$ */
main .profileData .profileBranches {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

main .profileData .profileBranches .profileBranchesHeader {
    margin-top: 10px;
    color: #07b2e6;
    font-size: 23px;
    margin-bottom: 0;
}

main .profileData .profileBranches .totalProfileBranches .locationIcon img {
    width: 20px;
    height: 20px;
}

main .profileData .profileBranches .totalProfileBranches .branchLocation3 {
    display: none;
    transition: 0.3s ease-in-out;
}

main .profileData .profileBranches .totalProfileBranches .branchLocation .branchLocationDetails {
    margin: 0;
    width: 100%;
}

main .profileData .profileBranches .totalProfileBranches .branchLocation .branchGovernment,
main .profileData .profileBranches .totalProfileBranches .branchLocation .branchWorkArea,
main .profileData .profileBranches .totalProfileBranches .branchLocation .branchWorkTime {
    padding: 0 5px;
}

main .profileData .profileBranches .totalProfileBranches .branchLocation h2 {
    font-size: 20px;
    margin: 0;
    line-height: 27px;
    color: #5d5a5a;
}

main .profileData .profileBranches .totalProfileBranches .branchLocation h2 span {
    color: #707070;
}

main .profileData .profileBranches .totalProfileBranches .branchLocation .locationMap {
    margin-top: 5px;
}   

main .profileData .profileBranches .totalProfileBranches .branchLocation .locationMap a {
    font-size: 20px;
    color: #07b2e6;
    text-decoration: underline;
}

main .profileData .profileBranches .showMore a {
    text-decoration: none;
    font-size: 17px;
}

main .profileData .profileBranches .showMore a span {
    color: #707070;
}

main .profileData .profileBranches .showMore a i {
    color: #07b2e6;
    transition: 0.3s ease-in-out;
}

main .profileData .profileBranches .showMore a:hover i {
    transform: translateY(5px);
}

/* $$$$$$$ Start modal of map $$$$$$$ */
main .profileData .modal .mapModal .modal-header button {
    outline: none;
}

main .profileData .modal .mapModal .modal-content .modal-body iframe {
    width: 100%;
    height: 400px;
    border: none;
} 
/* $$$$$$$ End modal of map $$$$$$$ */

/* $$$$$$$ Start doctorDetails $$$$$$$ */
main .profileData .doctorDetails {
    padding: 20px 0 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

main .profileData .doctorDetails .doctorDetailsHeader {
    color: #07b2e6;
    font-size: 23px;
}

main .profileData .doctorDetails p {
    font-size: 20px;
    /* margin: 0; */
    color: #707070;
}

main .profileData .doctorDetailsExperience {
    font-size: 20px;
    /* margin: 0; */
    color: #707070;
}
/* $$$$$$$ End doctorDetails $$$$$$$ */

/* $$$$$$$ Start doctorCommunications $$$$$$$ */
main .profileData .doctorCommunications {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

main .profileData .doctorCommunications .doctorCommunicationsHeader {
    color: #07b2e6;
    font-size: 23px;
}

main .profileData .doctorCommunications ul {
    margin: -5px;
    padding: 10px 0;
}

main .profileData .doctorCommunications ul li {
    list-style: none;
    padding: 10px 20px;
    background: #07b2e6;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    margin: 5px;
}
/* $$$$$$$ End doctorCommunications $$$$$$$ */

/* $$$$$$$ Start doctorServices $$$$$$$ */
main .profileData .doctorServices {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

main .profileData .doctorServices .doctorServicesHeader {
    color: #07b2e6;
    font-size: 23px;
}

main .profileData .doctorServices .totalServices .serviceDetails {
    margin: 0;
    padding: 5px 0;
}

main .profileData .doctorServices .totalServices .serviceDetails .exampleImg img {
    width: 100%;
    border-radius: 5px;
}

main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2,
main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2, 
main .profileData .doctorServices .totalServices .serviceDetails .serviceDescribtion h2 {
    font-size: 20px;
    margin: 0;
}

main .profileData .doctorServices .totalServices .serviceDetails .serviceName {
    padding-right: 0;
}

main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2 {
    background: #07b2e6;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2 {
    width: 75%;
    height: 100%;
    color: #fff;
}

main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2 {
    color: #07b2e6;
}

main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2 span ,
main .profileData .doctorServices .totalServices .serviceDetails .serviceDescribtion h2 {
    color: #707070;
}
/* $$$$$$$ End doctorCommunications $$$$$$$ */

/* $$$$$$$ Start doctorPrevWork $$$$$$$ */
main .profileData .doctorPrevWork {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

main .profileData .doctorPrevWork .doctorPrevWorkHeader {
    color: #07b2e6;
    font-size: 23px;
}

main .profileData .doctorPrevWork .prevWorkImgs {
    margin: 0 -7px;
}

main .profileData .doctorPrevWork .prevWorkImgs img {
    padding: 0 7px;
    margin: 7px 0;
    cursor: pointer;
}   

.slick-prev:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f053";
    color: #07b2e6 !important;
}   
  
.slick-next:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f054";
    color: #07b2e6 !important;
}

main .profileData .doctorPrevWork .modal .prevWorkImgsModal .modal-body .prevWorkSliderBtns i {
    color: #07b2e691;
    cursor: pointer;
    font-size: 25px;
}

main .profileData .doctorPrevWork .modal .prevWorkImgsModal .modal-body .prevWorkSliderBtns i:hover {
    color: #07b2e6;
}

main .profileData .doctorPrevWork .modal .prevWorkImgsModal .modal-body .prevWorkSlider {
    margin: 0 15px;
    padding: 0;
}

main .profileData .doctorPrevWork .modal .prevWorkImgsModal .modal-body .prevWorkSlider .slick-list {
    margin: 0 0px;
}

main .profileData .doctorPrevWork .modal .prevWorkImgsModal .modal-body .prevWorkSlider img {
    outline: none;
    overflow: hidden;
}
/* ######### End profileData ######### */

/* $$$$$$$ Start clientEvaluation $$$$$$$ */
main .profileData .clientEvaluation {
    padding: 20px 0;
}

main .profileData .clientEvaluation .clientEvaluationHeader {
    color: #07b2e6;
    font-size: 23px;
}

main .profileData .clientEvaluation .clientEvaluationSection {
    padding: 10px 0;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData {
    margin: 0;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientImg {
    padding: 0;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientImg img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate {
    padding: 0;
    padding: 0 10px;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate p {
    margin: 0;
    font-size: 20px;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul {
    padding: 5px 0;
    margin: 0;
    width: 40%;
    margin-top: -5px;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul i {
    color: #eed600;
    font-size: 15px;
}

main .profileData .clientEvaluation .clientEvaluationSection .clientComment h2 {
    font-size: 18px;
    color: #707070;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 10px;
    width: 70%;
    line-height: 25px;
}
/* $$$$$$$ End clientEvaluation $$$$$$$ */


/* ######### Start booking ######### */
main .booking form {
    background: #fff;
    padding: 10px 10px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

main .booking form .formHeader {
    padding: 20px 0;
}

main .booking form .formHeader p {
    color: #5d5a5a;
    /* background: #5d5a5a; */
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    font-weight: 600;
}

main .booking form .form-group textarea {
    height: 120px;
    padding: 12px;
    font-size: 18px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    color: #707070;
}

main .booking form .form-group textarea::placeholder {
    color: #707070;
}

main .booking form .form-group input {
    padding: 15px;
    font-size: 18px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #707070;
}

main .booking form .form-group input::placeholder {
    color: #707070;
}

main .booking form .form-group select {
    font-size: 18px;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #707070;
}

main .booking form .labelDiv {
    margin-bottom: 5px;
}

main .booking form .labelDiv label {
    font-size: 18px;
    color: #707070;
    padding: 0;
    margin: 0;
}

main .booking form .submitBtn {
    background: #07b2e6;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 40px;
    transition: 0.3s ease-in-out;
}

main .booking form .submitBtn:hover {
    padding: 10px 60px;
    box-shadow: 0 0 10px #07b2e6;
}
/* ######### End booking ######### */
/* ============== End main =============== */


/* ################ Large devices (desktops, less than 1200px) ################ */
@media (max-width: 1199.98px) {
    /* ################### Start Global ################### */
    /* ============== Start navLarge =============== */
    .navLarge .navbar-brand {
        height: 60px;
        width: 150px;
    }

    .navLarge .navbar-brand img {
        height: 100%;
        width: 120px;
    }

    .navLarge ul {
        padding: 0 !important;
    }

    .navLarge ul li a {
        padding: 40px 10px !important;
    }

    .navLarge .langLink a::before {
        display: none;
    }

    .navLarge .langLink .langIconLink {
        padding: 35px 0px !important;
    }

    .navLarge .langLink .langAbbrLink {
        padding: 30px 10px 0 !important;
    }

    .navLargeTop .navbar-brand {
        height: 50px;
    }
    
    .navLargeTop .navbar-brand img {
        width: 100px;
    }
    
    .navLargeTop ul li a {
        padding: 15px 10px !important;
    }
    
    .navLargeTop ul li a:hover::before {
        height: 3px;
    }
    
    .navLargeTop .langLink .langIconLink {
        padding: 15px 0px !important;
    }
    
    .navLargeTop .langLink .langAbbrLink {
        padding: 15px 10px 0 !important;
    }
    /* ============== End navLarge =============== */
    /* ################### End Global ################### */

    /* ============== Start go_up icon =============== */
    .go_up {
        top: 90%; 
    }
    /* ============== End go_up icon =============== */ 
    /* ============== Start main =============== */
    /* ######### Start profileData ######### */
    /* $$$$$$$ Start totalProfileData $$$$$$$ */
    main .profileData .totalProfileData .profileImg {
        padding: 0;
        height: 296px;
    }
    
    main .profileData .totalProfileData .profileInfo .profileName {
        font-size: 25px;
    }

    main .profileData .totalProfileData .profileInfo .profileSpecialty {
    /* main .profileData .totalProfileData .profileInfo .profileExperience { */
        font-size: 22px;
    }

    main .profileData .totalProfileData .profileInfo .profileSocialMedia i {
        font-size: 22px;
    }

    main .profileData .totalProfileData .profileInfo .profileReveal,
    main .profileData .totalProfileData .profileInfo .profileConsultation,
    main .profileData .totalProfileData .profileInfo .profileShare {
        font-size: 22px;
    }

    main .profileData .totalProfileData .profileOptions ul {
        width: 50%;
    }

    main .profileData .totalProfileData .profileOptions ul i {
        font-size: 17px;
    }

    main .profileData .totalProfileData .profileOptions .evaluation p {
        font-size: 18px;
    }
    /* $$$$$$$ End totalProfileData $$$$$$$ */

    /* $$$$$$$ Start profileBranches $$$$$$$ */
    main .profileData .profileBranches .profileBranchesHeader {
        font-size: 25px;
    }

    main .profileData .profileBranches .totalProfileBranches .locationIcon img {
        width: 23px;
        height: 23px;
    }

    main .profileData .profileBranches .totalProfileBranches .branchLocation h2 {
        font-size: 20px;
    }
    
    main .profileData .profileBranches .totalProfileBranches .branchLocation .locationMap a {
        font-size: 18px;
    }
    /* $$$$$$$ End profileBranches $$$$$$$ */

    /* $$$$$$$ Start doctorDetails $$$$$$$ */
    main .profileData .doctorDetails .doctorDetailsHeader {
        font-size: 25px;
    }

    main .profileData .doctorDetails p {
        font-size: 22px;
    }
    /* $$$$$$$ End doctorDetails $$$$$$$ */

    /* $$$$$$$ Start doctorCommunications $$$$$$$ */
    main .profileData .doctorCommunications .doctorCommunicationsHeader {
        font-size: 25px;
    }

    main .profileData .doctorCommunications ul li {
        font-size: 22px;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */

    /* $$$$$$$ Start doctorServices $$$$$$$ */
    main .profileData .doctorServices .doctorServicesHeader {
        font-size: 25px;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2,
    main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2, 
    main .profileData .doctorServices .totalServices .serviceDetails .serviceDescribtion h2 {
        font-size: 22px;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2 {
        font-size: 20px;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */

    /* $$$$$$$ Start doctorPrevWork $$$$$$$ */
    main .profileData .doctorPrevWork .doctorPrevWorkHeader {
        font-size: 25px;
    }
    /* ######### End profileData ######### */

    /* $$$$$$$ Start clientEvaluation $$$$$$$ */
    main .profileData .clientEvaluation .clientEvaluationHeader {
        font-size: 25px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate p {
        font-size: 22px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul {
        width: 45%;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul i {
        font-size: 17px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientComment h2 {
        font-size: 20px;
    }
    /* $$$$$$$ End clientEvaluation $$$$$$$ */

    /* ######### Start booking ######### */
    main .booking {
        padding: 0;
    }
    main .booking form {
        margin-top: 20px;
    }

    main .booking form .formHeader p {
        font-size: 22px;
    }
    /* ######### End booking ######### */
    /* ============== End main =============== */
}

/* ################ Medium devices (tablets, less than 992px) ################ */
@media (max-width: 991.98px) {
    /* ################### Start Global ################### */
    /* ============== Start NavbarTop =============== */
    .NavbarTop {
        display: none !important;
    }
    /* ============== End NavbarTop =============== */
    /* ============== Start NavbarMobile =============== */
    .NavbarMobile {
        display: flex !important;
        flex-flow: row;
        padding: 6px 0;
        background: #fff;
        transition: 0.3s ease-in-out;
    }

    .NavbarMobileTop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
        transition: 0.3s ease-in-out;
    }

    .NavbarMobile .navbar-brand {
        height: 36px;
        padding: 0 20px;
    }
    
    .NavbarMobile .navbar-brand img {
        height: 100%;
        width: 80px;
    }

    .NavbarMobile .navMenuMobile {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        background-color: #fff;
        transition: 0.3s;
    }

    .NavbarMobile .navMenuMobile .menuAllSections {
        height: 80%;
    }

    .NavbarMobile .navMenuMobile .closebtn {
        content: '';
        position: absolute;
        background: #cc2121;
        color: #fff;
        font-size: 40px;
        height: 40px;
        width: 40px;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .NavbarMobile .navMenuMobile a {
        padding: 8px 20px;
        text-decoration: none;
        font-size: 17px;
        color: #111;
        transition: 0.3s;
        display: none;
    }

    .NavbarMobile .navMenuMobile a.active {
        color: #cc2121;
    }

    .NavbarMobile .navMenuMobile a:hover {
        color: #cc2121;
    }

    .NavbarMobile .navMenuMobile ul.navbar-nav {
        padding-top: 50px;
    }

    .NavbarMobile .navMenuMobile .contactInfo {
        display: flex;
        flex-flow: column;
        padding: 0 20px;
        /* padding: 80px 10px 0; */
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactMatrial a {
        padding: 0 0 0px;
        font-size: 17px;
        font-weight: 600;
        color: #555;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactMatrial i {
        padding: 0 10px;
        color: #555;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial ul {
        margin: 0;
        padding: 0;
    } 

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial ul a {
        padding: 0;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial ul a i {
        color: #fff !important;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2px;
        border-radius: 5px;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial ul i.fa-facebook-f {
        background: #3b5999;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial i.fa-twitter {
        background: #55acee;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial ul i.fa-instagram {
        background: #e4405f;
    }

    .NavbarMobile .navMenuMobile .contactInfo .contactSocial ul i.fa-linkedin-in {
        background: #0077B5;
    }

    .NavbarMobile .navMobileOptions .navbar-toggler {
        outline: none;
    }
    
    .NavbarMobile .langLink .langIconLink i {
        color: #A4C2F7;
        background: #E3E7F2;
        height: 25px;
        width: 25px;
        border: 2px solid #A4C2F7;
        border-radius: 50%;
        font-size: 13px;
        margin: 0 12px;
    }

    .NavbarMobile .langFlagLink img{
        width: 24px;
        height: 24px;
    }
    /* ============== End NavbarMobile =============== */
    /* ============== Start navLarge =============== */
    .navLarge {
        display: none !important;
    }

    /* ============== End navLarge =============== */
    /* ============== Start footer =============== */
    footer .aboutUsData .footerLogo {
        padding-bottom: 8px;
    }

    footer .aboutUsData p,
    footer .websiteMap p {
        font-size: 20px;
    } 

    footer .websiteMap h2,
    footer .contactWithUs h2 {
        font-size: 1rem;
    }

    footer .websiteMap .websiteMapLinks a {
        font-size: 17px;
    }

    footer .websiteMap .websiteMapLinks a:hover::after {
        height: 2px;
    }

    footer .contactWithUs .contactMatrial {
        font-size: 17px;
    }
    /* ============== End footer =============== */
    /* ################### End Global ################### */

    /* ============== Start main =============== */
    /* ######### Start profileData ######### */
    /* $$$$$$$ Start totalProfileData $$$$$$$ */
    main .profileData .totalProfileData .profileImg {
        padding: 0;
        height: 240px;
    }

    main .profileData .totalProfileData .profileInfo .profileName {
        font-size: 23px;
    }

    main .profileData .totalProfileData .profileInfo .profileSpecialty {
    /* main .profileData .totalProfileData .profileInfo .profileExperience { */
        font-size: 20px;
    }

    main .profileData .totalProfileData .profileInfo .profileSocialMedia i {
        font-size: 20px;
    }

    main .profileData .totalProfileData .profileInfo .profileReveal,
    main .profileData .totalProfileData .profileInfo .profileConsultation,
    main .profileData .totalProfileData .profileInfo .profileShare {
        font-size: 20px;
    }

    main .profileData .totalProfileData .profileOptions .evaluation p {
        font-size: 16px;
    }

    main .profileData .totalProfileData .contactMe {
        margin-top: 10px;
    }
    /* $$$$$$$ End totalProfileData $$$$$$$ */

    /* $$$$$$$ Start profileBranches $$$$$$$ */
    main .profileData .profileBranches .profileBranchesHeader {
        font-size: 23px;
    }

    main .profileData .profileBranches .totalProfileBranches .locationIcon img {
        width: 23px;
        height: 23px;
    }

    main .profileData .profileBranches .totalProfileBranches .branchLocation h2 {
        font-size: 20px;
    }
    
    main .profileData .profileBranches .totalProfileBranches .branchLocation .locationMap a {
        font-size: 16px;
    }

    main .profileData .profileBranches .showMore a i {
        font-size: 15px;
    }
    /* $$$$$$$ End profileBranches $$$$$$$ */

    /* $$$$$$$ Start doctorDetails $$$$$$$ */
    main .profileData .doctorDetails .doctorDetailsHeader {
        font-size: 23px;
    }

    main .profileData .doctorDetails p {
        font-size: 20px;
    }
    /* $$$$$$$ End doctorDetails $$$$$$$ */

    /* $$$$$$$ Start doctorCommunications $$$$$$$ */
    main .profileData .doctorCommunications .doctorCommunicationsHeader {
        font-size: 23px;
    }

    main .profileData .doctorCommunications ul li {
        font-size: 20px;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */


    /* $$$$$$$ Start doctorServices $$$$$$$ */
    main .profileData .doctorServices .doctorServicesHeader {
        font-size: 23px;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2,
    main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2, 
    main .profileData .doctorServices .totalServices .serviceDetails .serviceDescribtion h2 {
        font-size: 20px;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2 {
        font-size: 18px;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */

    /* $$$$$$$ Start doctorPrevWork $$$$$$$ */
    main .profileData .doctorPrevWork .doctorPrevWorkHeader {
        font-size: 23px;
    }
    /* ######### End profileData ######### */

    /* $$$$$$$ Start clientEvaluation $$$$$$$ */
    main .profileData .clientEvaluation .clientEvaluationHeader {
        font-size: 23px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate p {
        font-size: 20px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul {
        width: 50%;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul i {
        font-size: 16px;
    }
    
    main .profileData .clientEvaluation .clientEvaluationSection .clientComment h2 {
        font-size: 18px;
    }
    /* $$$$$$$ End clientEvaluation $$$$$$$ */

    /* ######### Start booking ######### */
    main .booking form .formHeader p {
        font-size: 20px;
    }
    /* ######### End booking ######### */
    /* ============== End main =============== */
}

/* ################ Small devices (landscape phones, less than 768px) ################ */
@media (max-width: 767.98px) {
    /* ################### Start Global ################### */
    /* ============== Start footer =============== */
    footer .aboutUsData .footerLogo {
        padding-bottom: 15px;
    }

    footer .aboutUsData p {
        padding: 15px 0;
    }

    footer .aboutUsData p,
    footer .websiteMap p {
        font-size: 20px;
    } 

    footer .websiteMap h2,
    footer .contactWithUs h2 {
        font-size: 1rem;
    }

    footer .websiteMap {
        padding: 30px 15px;
    }

    footer .websiteMap .websiteMapLinks a {
        font-size: 20px;
    }

    footer .websiteMap .websiteMapLinks a:hover::after {
        height: 2px;
    }

    footer .contactWithUs {
        padding: 30px 15px;
    }

    footer .contactWithUs .contactMatrial {
        font-size: 17px;
    }
    /* ============== End footer =============== */
    /* ################### End Global ################### */

    /* ============== Start main =============== */
    /* ######### Start profileData ######### */
    /* $$$$$$$ Start totalProfileData $$$$$$$ */
    main .profileData .totalProfileData .profileImg {
        padding: 0;
        height: 222px;
    }

    main .profileData .totalProfileData .profileOptions {
        padding: 20px 0 0px;
    }

    main .profileData .totalProfileData .profileOptions ul {
        width: 25%;
        margin: 0;
    }

    main .profileData .totalProfileData .profileOptions .evaluation p {
        font-size: 16px;
    }

    main .profileData .totalProfileData .contactMe {
        margin-top: 10px;
    }
    /* $$$$$$$ End totalProfileData $$$$$$$ */

    /* $$$$$$$ Start profileBranches $$$$$$$ */
    main .profileData .profileBranches .totalProfileBranches .locationIcon img {
        width: 23px;
        height: 23px;
    }

    main .profileData .profileBranches .totalProfileBranches .branchLocation h2 {
        font-size: 18px;
    }
    
    main .profileData .profileBranches .totalProfileBranches .branchLocation .locationMap a {
        font-size: 18px;
    }

    main .profileData .profileBranches .showMore a i {
        font-size: 15px;
    }
    /* $$$$$$$ End profileBranches $$$$$$$ */

    /* $$$$$$$ Start doctorDetails $$$$$$$ */
    main .profileData .doctorDetails .doctorDetailsHeader {
        font-size: 23px;
    }

    main .profileData .doctorDetails p {
        font-size: 20px;
    }
    /* $$$$$$$ End doctorDetails $$$$$$$ */

    /* $$$$$$$ Start doctorCommunications $$$$$$$ */
    main .profileData .doctorCommunications ul li {
        font-size: 18px;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */

    /* $$$$$$$ Start doctorServices $$$$$$$ */
    main .profileData .doctorServices {
        padding: 20px 0 10px;
    }

    main .profileData .doctorServices .totalServices .serviceDetails {
        margin-bottom: 10px;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .serviceName,
    main .profileData .doctorServices .totalServices .serviceDetails .servicePrice,
    main .profileData .doctorServices .totalServices .serviceDetails .serviceDescribtion {
        padding: 0;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2,
    main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2, 
    main .profileData .doctorServices .totalServices .serviceDetails .serviceDescribtion h2 {
        padding: 2px 0;
    }

    main .profileData .doctorServices .totalServices .serviceDetails .servicePrice h2 {
        padding-top: 10px;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */

    /* $$$$$$$ Start clientEvaluation $$$$$$$ */
    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate {
        padding: 0 25px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul {
        width: 85%;
    }
    /* $$$$$$$ End clientEvaluation $$$$$$$ */
    /* ============== End main =============== */
}

/* ################ Extra small devices (portrait phones, less than 576px) ################ */
@media (max-width: 575.98px) {
    /* ################### Start Global ################### */
    /* ============== Start footer =============== */
    footer .aboutUsData .footerLogo {
        padding-bottom: 15px;
    }

    footer .aboutUsData p {
        padding: 15px 0;
    }

    footer .aboutUsData p,
    footer .websiteMap p {
        font-size: 20px;
    } 

    footer .websiteMap h2,
    footer .contactWithUs h2 {
        font-size: 1rem;
    }

    footer .websiteMap {
        padding: 20px 15px 10px;
    }

    footer .websiteMap .websiteMapLinks a {
        font-size: 20px;
    }

    footer .contactWithUs {
        padding: 20px 15px;
    }
    /* ============== End footer =============== */
    /* ################### End Global ################### */

    /* ============== Start main =============== */
    /* ######### Start profileData ######### */
    /* $$$$$$$ Start totalProfileData $$$$$$$ */
    main .profileData .totalProfileData .profileImg {
        padding: 0;
        height: 40%;
    }
    
    main .profileData .totalProfileData .profileInfo .profileName {
        font-size: 21px;
    }

    main .profileData .totalProfileData .profileInfo {
        text-align: center;
        padding: 20px 0 10px;
    }

    main .profileData .totalProfileData .profileInfo .profileSocialMediaContainer {
        display: flex;
        justify-content: center;
    }

    main .profileData .totalProfileData .profileInfo .profileSocialMedia {
        padding: 7px 0 15px;
    }

    main .profileData .totalProfileData .profileInfo .profileSocialMedia i {
        font-size: 22px
    }

    main .profileData .totalProfileData .profileOptions {
        padding: 0;
    }

    main .profileData .totalProfileData .profileOptions ul {
        width: 25%;
        margin: 0;
    }

    main .profileData .totalProfileData .profileOptions .evaluation p {
        font-size: 18px;
    }
    /* $$$$$$$ End totalProfileData $$$$$$$ */

    /* $$$$$$$ Start profileBranches $$$$$$$ */
    main .profileData .profileBranches .totalProfileBranches .locationIcon img {
        width: 23px;
        height: 23px;
    }

    main .profileData .profileBranches .totalProfileBranches .branchLocation h2 {
        font-size: 20px;
    }
    /* $$$$$$$ End profileBranches $$$$$$$ */

    /* $$$$$$$ Start modal of map $$$$$$$ */
    main .profileData .modal .mapModal .modal-content .modal-header,
    main .profileData .modal .mapModal .modal-content .modal-body {
        padding: 10px;
    }
    /* $$$$$$$ End modal of map $$$$$$$ */

    /* $$$$$$$ Start doctorServices $$$$$$$ */
    main .profileData .doctorServices .totalServices .serviceDetails .serviceName h2 {
        width: 100%;
    }
    /* $$$$$$$ End doctorCommunications $$$$$$$ */

    /* $$$$$$$ Start clientEvaluation $$$$$$$ */
    main .profileData .clientEvaluation .clientEvaluationSection .clientData {
        flex-flow: column;
        align-items: center;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientImg {
        justify-content: center !important;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate {
        padding: 0;
        align-items: center;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul {
        width: 35%;
        padding: 10px 0;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientData .clientNameAndRate ul i {
        font-size: 15px;
    }

    main .profileData .clientEvaluation .clientEvaluationSection .clientComment {
        text-align: center;
    }
    
    main .profileData .clientEvaluation .clientEvaluationSection .clientComment h2 {
        width: 100%;
        padding: 10px 20px;
    }
    /* $$$$$$$ End clientEvaluation $$$$$$$ */
    /* ============== End main =============== */
}