/* ################### Start Global ################### */

@font-face {
    font-family: "coconFont";
    src: url("../fonts/cocon-next-arabic.ttf");
}

* {
    font-family: "coconFont";
}

/* ################### End Global ################### */

/* ============== Start go_up icon =============== */
.go_up {
    position: fixed;
    right: 40px;
    top: 90%;
    padding: 15px 10px;
    background: #fff;
    border: 2px solid #07b2e6;
    box-shadow: 0 0 10px #07b2e6;
    color: #07b2e6;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 55 !important;
}
/* ============== End go_up icon =============== */

/* ============== Start titleHeader =============== */
.titleHeader {
    padding: 60px 0;
    background-image: url("../images/titleHeader.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.titleHeader h2 {
    color: #fff;
}
/* ============== end titleHeader =============== */
/* ################### start navbar ################# */
  .nav-link {
    color: #989393;
    font-size: 20px;
}
.nav-link.active {
    color: #04bdf5;
}
.nav-link:hover {
    color: #04bdf5;
}
.nav-link img {
    width: 18.5px;
    height: 18.5px;
    margin: 0 1px;
}
/* ################## end navbar ################## */
/* ################## start main ################## */
main {
    padding: 30px;
}
main .card-img {
    margin-top: 50px;
}
main .card-img img{
    width: 300px;
    height: 200px;
    margin: 15px;
}

main .the-button{
    float: right;
    background-color:#07b2e6;
    padding:10px;
    width:150px
}