/* ################### Start Global ################### */

@font-face {
    font-family: "coconFont";
    src: url("../fonts/cocon-next-arabic.ttf");
  }
  
  * {
    font-family: "coconFont";
  }
  /* ################### End Global ################### */
  
  /* ============== Start go_up icon =============== */
  .go_up {
    position: fixed;
    right: 40px;
    top: 90%;
    padding: 15px 10px;
    background: #fff;
    border: 2px solid #07b2e6;
    box-shadow: 0 0 10px #07b2e6;
    color: #07b2e6;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 55 !important;
  }
  /* ============== End go_up icon =============== */
  
  /* ============== Start titleHeader =============== */
  .titleHeader {
    padding: 60px 0;
    background-image: url("../images/titleHeader.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .titleHeader h2 {
    color: #fff;
  }
  /* ============== end titleHeader =============== */
  /* ################### start navbar ################# */
  .nav-link {
    color: #989393;
    font-size: 20px;
  }
  .nav-link.active {
    color: #04bdf5;
  }
  .nav-link:hover {
    color: #04bdf5;
  }
  .nav-link img {
    width: 18.5px;
    height: 18.5px;
    margin: 0 1px;
  }
  /* ################## end navbar ################## */
  
  /* ################## start main ################## */
  main {
    background-color: #f1eeee;
    padding: 10px;
  }
  .header-main {
    background-color: #04bdf5;
    padding: 30px;
  }
  /* start search */
  
  @media (min-width: 990px) {
    main form input[type="text"] {
      width: 70% !important;
      border-radius: 30px !important;
    }
  }
  main form input[type="text"] {
    padding-left: 15px !important;
  }
  
  main form {
    position: relative;
  }
  
  main form i,
  main form input[type="submit"] {
    position: absolute;
    top: 30%;
    right: 33%;
    font-size: 18px;
    color: #989393;
    cursor: pointer;
  }
  
  main form input[type="submit"] {
    top: 10%;
    opacity: 0;
  }
  
  /* end searh 
  
  /* start profile icons */
  
  .notification-corner {
    position: relative;
    width: 100%;
    text-align: right;
  }
  
  .bell {
    color: #fff;
    cursor: pointer;
    font-size: 30px;
  }
  
  .notification {
    color: #ff4c09;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    right: 15px;
    cursor: pointer;
  }
  
  .notification-corner img {
    position: absolute;
    top: -4px;
    right: 60px;
    cursor: pointer;
  }
  /* end profile icons */
  
  /* start main info */
  
  .main-info {
    padding: 30px;
    margin: 20px 0;
  }
  
  .main-info .info-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .main-info .info-box h6 {
    color: #989393;
    font-weight: 300;
    margin: 0 0 20px 17.8px;
  }
  
  .main-info .info-box p {
    margin: 15px 6px 3px 24.3px;
    font-size: 25px;
    font-weight: 600;
    line-height: 0.23;
    letter-spacing: 0.12px;
  }
  
  .main-info .info-box .up {
    color: #10cb35;
  }
  
  .main-info .info-box .down {
    color: #f80707;
  }
  
  .main-info .info-box .img-box {
    text-align: right;
  }
  
  .main-info .info-box select {
    margin-top: 50px;
    border: none;
    text-align: right;
    color: #afacac;
    outline: none;
  }
  
  @media (min-width: 990px) {
    .main-info .info-box select {
      margin-top: 35px;
    }
  }
  
  /* end main info */
  
  /* strat chart */
  
  .chart {
    padding: 30px;
    background-color: #f8f8f8;
  }
  
  .chart .select {
    text-align: right;
  }
  .chart .select select {
    color: #04bdf5;
  }
  
  /* end chart */
  
  /* start tables */
  
  .tables {
    margin: 30px 0;
    padding: 30px;
    background-color: #f8f8f8;
  }
  .tables .add-product {
    text-align: right;
  }
  .tables .add-product div {
    background-color: #04bdf5;
    color: #fff;
  }
  .tables .add-product div i {
    font-size: 10px;
  }
  .available {
    color: #00c642;
  }
  .not-available {
    color: #fb1a4f;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    min-width: 800px;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  /* end tables */
  
  
  .column{
    padding: 10px;
    color :#989393;
    font-size: 14px;
  }
  
  .column i{
    font-size: 10px;
    margin-right: 3px;
  }
  
  /* start export */
  .export{
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .pdf , .excel{
    border:1px solid #989393;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
  }
  
  .pdf p, .excel p{
    line-height: 10px;
  }
  
  .delete{
    float: right;
    border:1px solid red;
    color: red;
    line-height: 40px;
    border-radius: 5px;
    margin: 5px;
    height: 40px;
    width: 100px;
  }
  
  /* end export */