
/* ################### Start Global ################### */
.NavbarTop .contactInfo {
    right: 0;
}

.NavbarTop .contactInfo .email {
    border-left: 2px solid #fff;
    padding-left: 10px;
}

.NavbarTop .contactInfo .phone {
    padding-right: 10px;
}
/* ################### End Global ################### */

/* ============== Start main =============== */
/* ######### Start profileData ######### */
/* $$$$$$$ Start profileBranches $$$$$$$ */
main .profileData .profileBranches .totalProfileBranches .branchLocation {
    padding: 10px 0 10px 15px;
}
/* $$$$$$$ End profileBranches $$$$$$$ */

/* $$$$$$$ Start doctorServices $$$$$$$ */
main .profileData .doctorServices .totalServices .serviceDetails .exampleImg {
    padding-left: 0;
    padding-right: 10px;
}

main .profileData .totalProfileData .profileInfo .profileShare i {
    transform: scale(-1);
}
/* $$$$$$$ End doctorServices $$$$$$$ */

/* $$$$$$$ Start clientEvaluationSection $$$$$$$ */
main .profileData .clientEvaluation .clientEvaluationSection .clientComment {
    padding: 10px  15px 0 25px;
}
/* $$$$$$$ End clientEvaluationSection $$$$$$$ */

/* ######### Start booking ######### */
main .booking {
    padding-right: 0;
}
/* ######### End booking ######### */


/* ######### End profileData ######### */
/* ============== End main =============== */

/* ################ Large devices (desktops, less than 1200px) ################ */
@media (max-width: 1199.98px) {
    
}

/* ################ Medium devices (tablets, less than 992px) ################ */
@media (max-width: 991.98px) {
    /* ============== Start NavbarMobile =============== */
    .NavbarMobile .navMenuMobile {
        left: 0;
    }

    .NavbarMobile .navMenuMobile .closebtn {
        left: 100%;
    }
    /* ============== End NavbarMobile =============== */
}

/* ################ Small devices (landscape phones, less than 768px) ################ */
@media (max-width: 767.98px) {
    
}

/* ################ Extra small devices (portrait phones, less than 576px) ################ */
@media (max-width: 575.98px) {
    
}