/* ################### Start Global ################### */
.NavbarTop .contactInfo {
    right: 0;
}

.NavbarTop .contactInfo .email {
    border-left: 2px solid #fff;
    padding-left: 10px;
}

.NavbarTop .contactInfo .phone {
    padding-right: 10px;
}

.navLarge .langLink .langIconLinkAfterLogin li.dropdown .dropdown-menu {
    left: -300% !important;    
}
/* ################### End Global ################### */

/* ################ Medium devices (tablets, less than 992px) ################ */
@media (max-width: 991.98px) {
    /* ============== Start NavbarMobile =============== */
    .NavbarMobile .navMenuMobile {
        left: 0;
    }

    .NavbarMobile .navMenuMobile .closebtn {
        left: 100%;
    }

    .NavbarMobile .langLink .langIconLinkAfterLogin li.dropdown .dropdown-menu {
        left: -300% !important;
    }
    /* ============== End NavbarMobile =============== */
}